{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <h1>TERMS AND CONDITIONS FOR USERS</h1>
    <br>
    <p>THIS DOCUMENT IS AN ELECTRONIC RECORD IN TERMS OF INFORMATION TECHNOLOGY ACT, 2000 
        AND RULES THEREUNDER AS APPLICABLE AND THE PROVISIONS PERTAINING TO ELECTRONIC 
        RECORDS IN VARIOUS STATUTES AS AMENDED BY THE INFORMATION TECHNOLOGY ACT, 2000.
    </p>
    <strong>A. <u>GENERAL TERMS</u></strong><br>
    <p>These terms and conditions, including the General Terms and Special Terms along with any agreements executed or accepted by you (“<strong>you/your</strong>” or “<strong>User</strong>” or “<strong>Customer</strong>”), which are incorporated herein by reference (“<strong>Terms</strong>”) apply when you access, use, or interact with the mobile application (“<strong>VoyEase App</strong>”) or website available at <a href="https://www.voyease.in/">https://www.voyease.in/</a> (collectively, the “<strong>Platform</strong>”) whether through a computer, a mobile phone, or any other device (“<strong>Device</strong>”) or avail the Services (defined hereinafter) provided by <strong>Voyease Solutions Private Limited</strong> (“<strong>VoyEase</strong>” / “<strong>Company</strong>” / “<strong>us</strong>”, “<strong>we</strong>” or “<strong>our</strong>”).</p>
    <p>All the Services provided by the Company to you would be by means of your use of the Platform. These Terms will govern the relationship between you and the Company in the course of provision of the Services. These Terms govern your access/interaction or use of the Platform and/or availing of Services.</p>

    <p>Please read these Terms carefully before using the Platform or registering on the Platform or accessing any material or information through the Platform, or availing the Services. By using this Platform or availing the Services, you acknowledge that you have read and understood these Terms and agree to be bound by these Terms, without any limitation or qualification. If you do not agree with these Terms, please do not access the Platform or avail the Services.</p>
        
    <p>These Terms expressly supersede prior agreements or arrangements with you. Use of and access to the Platform is offered to you upon the unconditional acceptance by you of all the terms, conditions, and notices contained in these Terms and the <strong>Privacy Policy</strong> (which is incorporated herein by reference), along with any amendments made by the Company at its sole discretion and posted on the Platform from time to time.</p>
      
    <ol type="I">
        <li>
          <strong>SERVICES</strong>
          <p>We provide the following services (“<strong>Services</strong>”) to you:</p>
          <ol type="1">
            <li>A Platform to facilitate the booking of tour guides in real time or in advance to offer guide services (“<strong>Guide Services</strong>”) offered by third party Tour Guides (“<strong>Tour Guides</strong>”);</li>
            <li>A Platform to facilitate the booking of tour service facilitators (“<strong>Tour Buddies</strong>”) in real time to offer services related to development of travel itinerary plans, assistance in facilitating hotel and cab bookings (using their own discretion), language translation services, and other travel-related solutions (“<strong>Tour Services</strong>”);</li>
            <li>A Platform to facilitate the provision of contact details of Panditjis who are skilled in conducting religious rituals and ceremonies ("<strong>Religious Services</strong>") as offered by independent third-party Panditjis ("<strong>Panditjis</strong>"). The Company’s role is limited to providing the contact information of Panditjis to users based on their requests, and the Company does not engage in or take responsibility for the actual performance of the religious services;</li>
            <li>Other support services (such as associated payment collection, Local Shops listing, etc.) as offered by Voyease from time to time.</li>
          </ol>
        </li>
      
        <li>
          <strong>YOUR REPRESENTATIONS, WARRANTIES AND UNDERTAKINGS</strong>
          <p>In relation to your use and access of the Platform or for availing the Services, you represent, warrant, and provide the following undertakings:</p>
          <ol type="1">
            <li>For the purposes of registration/creation of an account on the Platform, you confirm that you are 18 years of age.</li>
            <li>The Service is not available for use by persons under the age of 18. You may not authorize third parties to use Your Account (defined below), and you may not allow persons under the age of 18 to receive Services through Tour Guides or Tour Buddies unless they are accompanied and/or overseen by you. However, you agree to take full responsibility for the use of Services by such minors including in respect of ensuring their safety while availing such Services, and Voyease will not be responsible or liable for any consequences arising from the same.</li>
            <li>If the Company becomes aware or it acquires credible knowledge that you have misled us regarding your age, then the Company reserves its rights to deactivate the account and you will not be liable to raise any claims, including any insurance from the Company.</li>
            <li>These Terms impose valid and legally binding obligations on you and are enforceable against you.</li>
            <li>You confirm that you neither have had any insolvency proceedings against you nor have you ever been adjudicated insolvent by any court or other authority.</li>
            <li>You are not restricted by any legal, regulatory, judicial, quasi-judicial, or other authority to access the Platform or avail the Services, including to enter into transactions contemplated for availing the Services.</li>
            <li>You agree to use the Services only for purposes that are permitted by these Terms and in accordance with applicable laws.</li>
            <li>By using the Platform or the Services, you authorize Voyease, whether directly or indirectly through third parties, to collect information about you or make any inquiries necessary to validate your identity, in accordance with our Privacy Policy. Please read the Privacy Policy to understand how we collect, process, and share your information, including personal information and sensitive personal data or information (collectively, “<strong>Information</strong>”).</li>
            <li>Further, we may ask you for Information or documents that will allow us to reasonably identify you, requiring you to take steps to confirm your right over your email address or financial instruments, or verifying your Information against third-party databases or through other sources. We reserve the right to terminate, suspend, or limit access to the Services in the event we are unable to obtain or verify this Information.</li>
            <li>When you provide any Information to Voyease, you agree to provide only true, accurate, current, and complete Information. You understand and acknowledge that the responsibility to provide correct Information, including the contact information, bank account details, etc., as required in connection with the Services, lies solely with you. You must take all caution to ensure that there are no mistakes and errors in the Information you provide. We will not be responsible to verify the accuracy of the Information provided by you.</li>
          </ol>
        </li>
        
        <li>
            <strong>OPERATION OF PLATFORM</strong>
            <ol>
                <li>You must register on the Platform and create an account on the Platform (“Your Account”) by providing accurate Information as sought during the registration process. You are solely responsible for maintaining the confidentiality of your credentials (username, password, etc.) provided upon registration, and the Company is not liable for any loss you may incur as a result of someone else using Your Account, either with or without your knowledge.</li>
                <li>Your Account cannot be transferred, assigned, or sold to a third party.</li>
                <li>You agree to accept responsibility for all activities that occur in or from Your Account. You agree to establish reasonable security procedures and controls to limit access to the password or other identifying information of Your Account to unauthorized individuals, which includes choosing passwords and other credentials in a manner that will protect the security of your Information. Your credentials include your username and password to Your Account and to any third-party account you have used to login to Your Account.</li>
                <li>You agree to inform us immediately if you have any reason to believe that your login credentials have become known to anyone else, or if the password or Your Account is being or is likely to be used in any unauthorized manner.</li>
                <li>Voyease will not be liable for any breach of security or unauthorized use of Your Account.</li>
                <li>The Company will forward your booking request made on the Platform (“Service Request”) to the Tour Guide or Tour Buddy through an app-based device operating on GPS-GPRS available with the Tour Guide or Tour Buddy.</li>
                <li>The Company may monitor and record calls made to the Tour Guides or Tour Buddies for the purpose of training and improving customer care services, including complaint-related services.</li>
                <li>The Tour Guide and Tour Buddy will have the sole discretion to accept or reject each Service Request.</li>
                <li>If the Tour Guide or Tour Buddy accepts the Service Request, a notification will be sent to you with the information regarding the Tour Guide or Tour Buddy, including their name, contact number, and photo.</li>
                <li>The Company will make reasonable efforts to bring you in contact with the Tour Guide or Tour Buddy in order to obtain the Service, subject to the availability of the Tour Guide or Tour Buddy in or around your location at the time of your Service Request.</li>
                <li>Even after acceptance of the Service Request, the Tour Guide or Tour Buddy may not reach your pick-up location or decide not to render the Service, in which event the Company will not be held liable.</li>
                <li>The Company will not be liable if you do not download the correct mobile application to access the Platform or do not visit the appropriate web portal.</li>
                <li>For the avoidance of doubt, it is clarified that the Company itself does not provide the Guide Services and Tour Services and only facilitates these services through the Platform. It is the Tour Guide or Tour Buddy who is responsible for rendering the Guide Services and Tour Services to you. You acknowledge that Voyease is merely an intermediary and does not provide the Services as a Tour operator and the Guide Services and Tour Services are provided by independent third-party contractors (Tour Guides or Tour Buddies) directly who are not employed by Voyease or any of its affiliates.</li>
                <li>The Company reserves the right to discontinue or introduce any of the modes of Service Requests and/or for providing Services.</li>
            </ol>            
        </li>

        <li>
            <strong> YOUR CONDUCT</strong>
            <ol>
                <li>You will use the Services for lawful purposes and in compliance with applicable laws, and refrain from doing anything which we reasonably believe to be disreputable or capable of damaging our reputation and will comply with all applicable laws of the Republic of India.</li>
                <li>You will treat the Tour Guide or Tour Buddy with respect and not cause damage to them or their accessories or engage in any unlawful, threatening, harassing, abusive behavior or activity whilst using their services.</li>
                <li>The Company is not responsible for the behavior, actions, or inactions of the Tour Guide or Tour Buddy or the quality of Service, which may be provided to you by the Tour Guide or Tour Buddy. Any contract for the provision of the Services is exclusively between you and the Tour Guide or Tour Buddy, and the Company is not a party to the same.</li>
                <li>By using the Platform, you acknowledge and agree that:
                    <ol type="a">
                        <li>You will download the Voyease App for your sole, personal use and will not resell it to a third party;</li>
                        <li>You will not authorize others to use Your Account;</li>
                        <li>You will not assign or otherwise transfer Your Account to any other person or legal entity;</li>
                        <li>You will not use the Platform for unlawful purposes, including but not limited to sending or storing any unlawful material or for fraudulent purposes;</li>
                        <li>You will not use the Platform to cause nuisance, annoyance, or inconvenience to the Company, Tour Guides, Tour Buddies, or third parties;</li>
                        <li>You will not misuse the Platform or attempt to defraud the Company, Tour Guides, Tour Buddies, or third parties;</li>
                        <li>You will not impair the proper operation of the Platform, and you will not use any device, software, routine, file, or other tool or technology, which includes any viruses, trojan horses, worms, time bombs, or cancelbots, intended to damage, interfere with, or affect functionality or operation of the Platform or the Services, to surreptitiously intercept or expropriate any system, data, or information in connection with the Services or as hosted/available on the Platform, or to affect the operation of any other websites or the internet;</li>
                        <li>You will not take any action that imposes an unreasonable or disproportionately large load on the infrastructure associated with the Platform or the Services, including but not limited to denial of service attacks, “spam” or any other such unsolicited overload technique;</li>
                        <li>You will not try to harm the Platform in any way whatsoever;</li>
                        <li>You will not copy or distribute the Platform or its contents without written permission from the Company;</li>
                        <li>You will keep secure and confidential your account password or any identification which the Company may provide you which allows access to the Platform;</li>
                        <li>You will provide the Company with whatever proof of identity we may request;</li>
                        <li>You will only use an access point or at least a 3G, 4G, or 5G data account access point which you are authorized to use;</li>
                        <li>You will not use the Platform with an incompatible or unauthorized Device;</li>
                        <li>You will not indulge in any fraudulent activities, including but not limited to intentionally falsifying Information, creating dummy/duplicate accounts for fraudulent purposes, manipulating the settings on a phone/Device to prevent or impair the proper functioning of the Platform, abusing promotions and/or not using them for their intended purpose, disputing charges for fraudulent or illegitimate reasons, falsifying documents, records, or other data for fraudulent purposes, or any other activity which is in contravention of applicable laws, is in violation of these Terms, or is not intended or permitted under these Terms; and</li>
                        <li>If you create more than one account per User, Voyease has the right to terminate such accounts.</li>
                    </ol>
                </li>
                <li>In addition to the foregoing, you will not upload, display, share, host, publish, or transmit any information that:
                    <ol type="a">
                        <li>Belongs to another person and to which you do not have a right to such information;</li>
                        <li>Is harmful, offensive, harassing, obscene, pornographic, invasive of another’s privacy, hateful, racially or ethnically objectionable, disparaging, relating to or encouraging money laundering or gambling, or an online game that causes user harm, or otherwise unlawful in any manner whatsoever, or promoting enmity between different groups on the grounds of religion or caste with the intent to incite violence;</li>
                        <li>Infringes any patent, trademark, copyright or any other proprietary rights;</li>
                        <li>Harms minors in any way or is harmful to a child;</li>
                        <li>Contains any commercial material or content (including solicitation of funds, advertising, or marketing of any goods or services);</li>
                        <li>Deceives or misleads the addressee about the origin of such messages, or communicates any misinformation or information which is patently false and untrue or misleading in nature, or, in respect of any business of the Central Government, is identified as fake or false or misleading by such fact-check unit specified by the Government;</li>
                        <li>Impersonates another person;</li>
                        <li>Contains software viruses or any other computer code, files, or programs designed to interrupt, destroy, or limit the functionality of any computer resource;</li>
                        <li>Threatens the unity, integrity, defence, security, or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting any other nation;</li>
                        <li>Is in the nature of an online game that is not verified as a permissible online game;</li>
                        <li>Is in the nature of advertisement or surrogate advertisement or promotion of an online game that is not a permissible online game, or of any online gaming intermediary offering such an online game; or</li>
                        <li>Violates any law for the time being in force.</li>
                    </ol>
                </li>
                <li>The Company reserves the right to immediately terminate your use of the Platform and stop providing you the Services should you not comply with any of the rules provided in these Terms.</li>
            </ol>
            
        </li>
    
        <li>
            <strong>COMMUNICATION AND NOTIFICATION</strong>
            <ol>
                <li>You agree that Voyease (either directly or indirectly through its affiliates or third parties) may communicate with you in connection with the Platform or the Services, either electronically (for example, push notifications), or through phone calls, WhatsApp messenger application, email, or in writing through other modes.</li>
                <li>Any electronic communications will be considered to be received by you within 24 hours of the time we send it to your attention (such as via email, SMS, or other online notification, through WhatsApp messenger application). We will assume you have received any communications sent to you by postal mail, 3 business days after we send it.</li>
                <li>If you are a Customer who has registered on the Platform and shared your contact details with us, we may need to contact you in connection with the Services, and you give express consent to us and our permitted assigns and third-party agents to communicate with you in any way, such as calling, texting, or e-mailing via:
                    <ol type="a">
                        <li>A mobile phone or landline number you provide to us, use to contact us, or at which we believe we can reach you (even if it is not yours);</li>
                        <li>Any email address you provide to us or associated with your account on the Platform;</li>
                        <li>Automated dialler systems and automatic telephone dialling systems; and</li>
                        <li>Pre-recorded or artificial voice messages and other forms of communications.</li>
                    </ol>
                </li>
                <li>The accuracy, readability, clarity, and promptness of the communications depend on various factors. Voyease will not be responsible for any non-delivery, delayed delivery, or distortion of the communication in any way whatsoever.</li>
            </ol>
            
        </li>

        <li>
            <strong> PAYMENT FOR SERVICES</strong>
            <ol>
                <li>You will be required to pay charges for the Services used by you either by using the online payment gateway provided in the Platform or by paying cash to the Tour Guides or Tour Buddies. The Company collects the charges for the Services on behalf of the Tour Guides or Tour Buddies after obtaining authorization from the Tour Guides or Tour Buddies and the payment is remitted to the Tour Guide’s or Tour Buddy’s bank account registered with the Company.</li>
                <li>The rates of the Services and any cancellation fee, if applicable, will be notified on the Platform.</li>
                <li>The charges for the Services will be updated or amended from time to time at the sole discretion of the Company and it will be your responsibility to remain informed about the charges for the Services.</li>
                <li>You agree that you will pay for all Services you purchase from the Tour Guide or Tour Buddy and for the use of the Platform either by way of online payment or by cash. In the event the payment cannot be accepted through the online payment or any other mode, you will be required to pay the charges for the Services availed by way of cash. You agree and acknowledge that Voyease is not in any way responsible for the settlement of cash payments made by you directly to the Tour Guide or Tour Buddy.</li>
                <li>In order for us to facilitate UPI payments, we are required to conduct a bank account validation and Virtual Payment Address (“VPA”) validation and you agree for such validation to be conducted. We conduct these validations through a third-party service provider.</li>
                <li>Any payment made is non-refundable. At the end of the trip for the Tour Services & Guide Services, we will facilitate for you to receive a copy of the invoice from the Company on your registered e-mail account with the Company.</li>
            </ol>
            
        </li>

        <li>
            <strong>DISCLAIMERS</strong>
            <ol>
                <li>The information and recommendations provided to you on or through the website or the Platform are for general information purposes only and do not constitute advice.</li>
                <li>The Company will reasonably keep the Platform and its contents correct and up-to-date and offer you uninterrupted access but does not guarantee that the Platform is free of errors, defects, malware, and viruses or that the contents on the Platform are correct, up-to-date, and accurate. Voyease assumes no liability whatsoever for any monetary or other damage or loss suffered by you on account of delay, failure, interruption, or errors in the operation of the Platform.</li>
                <li>The Company will further not be liable for damages resulting from the use of or the inability to use the Platform, including but not limited to damages resulting from failure or delay in the delivery of electronic communications, interception, or manipulation of electronic communications by third parties or by computer programs used for electronic communications, and transmission of viruses.</li>
                <li>If you choose to access the Platform from locations other than India, you will do so at your own risk, and you will be solely liable and responsible for compliance with applicable local laws and regulations of such locations. The mere fact that the Platform can be accessed through the internet by you in a country other than India will not be interpreted to imply that the laws of the said country govern these Terms or use of the Platform. We accept no liability whatsoever, indirect or consequential, for non-compliance with the laws of any country other than India.</li>
                <li>Access to the Platform or the Services may be unavailable, delayed, limited, or slowed from time to time due to the inherent nature of the internet and, among other things, due to:</li>
                <ol type="a">
                    <li>Servers, networks, hardware failure (including your own computer or mobile), telecommunication lines and connections, and other electronic and mechanical equipment;</li>
                    <li>Software failure, including among other things, bugs, errors, viruses, configuration problems, incompatibility of systems, utilities or applications, the operation of firewalls or screening programs, unreadable codes, or irregularities within particular documents or other content;</li>
                    <li>Overload of system capacities;</li>
                    <li>Damage caused by severe weather, earthquakes, wars, insurrection, riots, civil commotion, act of God, accident, fire, water damage, explosion, mechanical breakdown, or natural disasters;</li>
                    <li>Interruption (whether partial or total) of power supplies or other utility service, strike, or other stoppage (whether partial or total) of labor;</li>
                    <li>Governmental or regulatory restrictions, exchange rulings, court or tribunal orders, or other human intervention; or</li>
                    <li>Any other cause (whether similar or dissimilar to the above) beyond the control of Voyease.</li>
                </ol>
                <li>The quality of the Guide Services and Tour Services requested through the use of the Platform is entirely the responsibility of the Tour Guide or Tour Buddy who ultimately provides such services to you, and the Company is not liable for the same. However, any complaints about the Guide Services and Tour Service provided by the Tour Guide or Tour Buddy should be submitted to the Company by an email as notified from time to time.</li>
                <li>THE COMPANY MAKES NO REPRESENTATION, WARRANTY, OR GUARANTEE AS TO THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY, AVAILABILITY, ACCURACY, OR COMPLETENESS OF THE SERVICES AND/OR THE PLATFORM. THE COMPANY DOES NOT REPRESENT OR WARRANT THAT:</strong></li>
                <ol type="a">
                    <li>THE USE OF THE SERVICE AND/OR THE PLATFORM WILL BE SECURE, TIMELY, UNINTERRUPTED, OR ERROR-FREE OR OPERATE IN COMBINATION WITH ANY OTHER HARDWARE, SOFTWARE, SYSTEM, OR DATA;</li>
                    <li>THE SERVICE WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS;</li>
                    <li>ANY STORED DATA WILL BE ACCURATE OR RELIABLE;</li>
                    <li>THE QUALITY OF ANY SERVICES, INFORMATION OBTAINED BY YOU THROUGH THE PLATFORM WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS;</li>
                    <li>ERRORS OR DEFECTS IN THE SERVICES AND/OR THE PLATFORM WILL BE CORRECTED; OR</li>
                    <li>THE PLATFORM OR THE SERVER(S) ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. THE PLATFORM IS PROVIDED TO YOU STRICTLY ON AN “AS IS” BASIS.</li>
                </ol>
                <li>All conditions, representations, and warranties, whether express, implied, statutory, or otherwise, including, without limitation, any implied warranty of merchantability, fitness for a particular purpose, or non-infringement of third-party rights, are hereby excluded and disclaimed to the highest and maximum extent. You acknowledge and agree that the entire risk arising out of your use of the Platform and/or the Services remains solely and absolutely with you, and you will have no recourse whatsoever to the Company.</li>
            </ol>
            
        </li>

        <li>
            <strong>INTELLECTUAL PROPERTY RIGHTS</strong>
            <ol>
                <li>The Company is the sole owner and lawful licensee of all the rights to the Platform or any other digital media and its contents. The content includes its design, layout, text, images, graphics, sounds, video, etc. The website, Platform, or any other digital media content embody trade secrets and Intellectual Property Rights protected under worldwide copyright and other laws. All titles, ownership, and Intellectual Property Rights in the Platform and its content remain with the Company except for the third-party content and links to third-party websites on the Platform.
                    <br/>The term “Intellectual Property Rights” means all intellectual property rights or similar proprietary rights, including: 
                    <ol type="i">
                        <li>patent rights and utility models,</li>
                        <li>copyrights and database rights, including moral rights,</li>
                        <li>trademarks, trade names, domain names, and trade dress and the associated goodwill,</li>
                        <li>trade secrets, and</li>
                        <li>industrial design rights; and for each of the foregoing includes any registrations of, applications to register, and renewals and extensions of, any of the foregoing in any jurisdiction in the world.</li>
                    </ol>
                </li>
                <li>All rights not otherwise claimed under these Terms or by the Company are hereby reserved. The information contained in this Platform is intended solely to provide general information for the personal use of the reader, who accepts full responsibility for its use.</li>
                <li>The Company does not represent or endorse the accuracy or reliability of any information or advertisement contained on, distributed through, linked, downloaded, or accessed from any of the services contained on this Platform, or the quality of any products, information, or other materials displayed or obtained by you as a result of any product, information, or other materials displayed, or obtained by you as a result of an advertisement or any other information or offer in or in connection with a Service.</li>
                <li>All related icons and logos are registered trademarks, service marks, or word marks of the Company in various jurisdictions and are protected under applicable copyrights, trademarks, and other proprietary rights laws. The unauthorized copying, modification, use, or publication of these marks is strictly prohibited.</li>
                <li>Subject to your compliance with these Terms, the Company grants you a limited, non-exclusive, non-transferable license to download and install a copy of the Platform on a single mobile device that you own or control and to run such a copy of the Platform solely for your own personal use.</li>
                <li>Customer data: As between Voyease and Customer, all right, title, and interest in: 
                    <ol type="i">
                        <li>the Information,</li>
                        <li>other information input into the Platform by Customer or its authorized users (“Other Information”), and</li>
                        <li>all Intellectual Property Rights in each of the foregoing, belong to and are retained solely by the Customer.</li>
                    </ol>
                    Information and Other Information are collectively referred to as “Customer Information.” Customer grants to Voyease a limited, non-exclusive, royalty-free, worldwide license to use the Customer Information and perform all acts with respect to the Customer Information, as may be necessary for Voyease to operate, maintain, and improve the Platform or provide the Services to Customer, and a non-exclusive, perpetual, irrevocable, worldwide, royalty-free, fully paid-up license to use, reproduce, modify, and distribute the Other Information as a part of the Aggregated Statistics (defined below). Customer is solely responsible for the accuracy, quality, veracity, integrity, legality, reliability, and appropriateness of all Customer Information. Voyease agrees to access and use the Customer Information solely as set forth in these Terms or the Privacy Policy.
                </li>
                <li>Aggregated statistics: Notwithstanding anything else in these Terms, Voyease may monitor Customer’s (including the authorized users) use of the Platform and the Services and use data and information related to such use and Customer Information in an aggregate and anonymous manner, including to compile statistical and performance information related to the provision and operation of the Platform and the Services (“Aggregated Statistics”). As between Voyease and Customer, all right, title, and interest in the Aggregated Statistics and all Intellectual Property Rights therein, belong to and are retained solely by Voyease. Customer acknowledges that Voyease will be compiling Aggregated Statistics based on Customer Information and Information input by other customers into the Platform. Customer agrees that Voyease may: 
                    <ol type="i">
                        <li>make such Aggregated Statistics publicly available, and</li>
                        <li>use such information to the extent and in the manner required by applicable law and for purposes of data gathering, analysis, service enhancement, and marketing, provided that such data and information do not identify Customer.</li>
                    </ol>
                </li>
                <li>You will not do the following:
                    <ul>
                        <li>License, sublicense, sell, resell, transfer, assign, distribute, or otherwise commercially exploit or make available to any third party the Platform in any way;</li>
                        <li>Modify or make derivative works based upon the Platform;</li>
                        <li>Create internet “links” or “frame” or “mirror” any application on any other server or wireless or Internet-based device; or</li>
                        <li>Reverse engineer or access the Platform in order to:
                            <ol type="i">
                                <li>design or build a competitive product or service,</li>
                                <li>design or build a product using similar ideas, features, functions, or graphics of the Platform,</li>
                                <li>copy any ideas, features, functions, or graphics of the Platform, or</li>
                                <li>launch an automated program or script, including, but not limited to, web spiders, web crawlers, web robots, web ants, web indexers, bots, viruses, or worms, or any program which may make multiple server requests per second, or unduly burdens or hinders the operation and/or performance of the Platform.</li>
                            </ol>
                        </li>
                    </ul>
                </li>
            </ol>
            
        </li>

        <li>
            <strong>THIRD-PARTY LINKS</strong>
            <ol type="1">
                <li>During use of the Platform, you may enter into correspondence with, purchase goods and/or
                    services from, or participate in promotions of third party Tour Guides or Tour Buddies, advertisers or
                    sponsors showing their goods and/or services through a link on the Platform. These links take you off
                    the Platform and are beyond the Company’s control. You therefore visit or access these websites
                    entirely at your own risk.
                </li>
                <li>Please note that these other websites may send their own cookies to users, collect data or solicit
                    personal information, and you are therefore advised to check the terms of use or privacy policies on
                    those websites prior to using them.
                </li>
            </ol>
        </li>

        <li>
            <strong>EMERGENCY SOS </strong>
            <ol type="i">
                <li>Voyease provides an SOS feature on the Voyease App wherein the Customer can call for emergency services in case of any safety issues or other emergencies by tapping the “Red” button made available on the Voyease App. This is linked to the internal emergency response team of Voyease, and any such case is escalated and dealt with on priority.</li>
                <li>In case of an accident, an ambulance can be called upon by the Customer immediately through the Voyease App, and the said information can be shared with trusted/emergency contacts of the Customer provided to Voyease.</li>
                <li>You agree not to misuse the Emergency/SOS feature and will solely use it during emergencies. In case of any misuse of the SOS feature, you will be liable for consequences/actions in accordance with applicable laws and/or as per Voyease’s internal policies.</li>
            </ol>
            
        </li>

        <li>
            <strong>TERM AND TERMINATION</strong>
            <ol>
                <li>These Terms, which form the contract between the Company and you, are concluded for an indefinite period. You are entitled to terminate the contract between the Company and you at any time by deleting Your Account on the Platform.</li>
                <li>The Company is entitled to terminate your access to the Platform and/or the Services at any time and with immediate effect (by disabling your use of the Platform and the Service) if you: 
                    <ol type="i">
                        <li>violate or breach any term of these Terms,</li>
                        <li>in the opinion of the Company, misuse the Platform or the Service,</li>
                        <li>if there is reason to believe that the account is used fraudulently.</li>
                    </ol>
                </li>
                <li>The Company is not obliged to give notice of the termination in advance. After termination, the Company will give notice thereof in accordance with these Terms.</li>
                <li>Neither party hereto will be responsible for delays or failures in performance resulting from acts beyond its reasonable control and without its fault or negligence. Such excusable delays or failures may be caused by, among other things, strikes, lockout, riots, rebellions, accidental explosions, floods, storms, acts of God, and similar occurrences.</li>
                <li>The Company, in addition to its right to terminate or suspend access to Your Account and/or the Services in case of violation of these Terms, the Privacy Policy, or any applicable law, reserves the right, in its sole discretion, to legally prosecute you if you act in a way that the Company, at its sole capacity, decides involves fraud or misuse of the Platform, or is harmful to the Company’s interests or another user, any Tour Guide or Tour Buddy, or any other participating third-party.</li>
                <li>The Company’s failure to insist upon or enforce your strict compliance with these Terms will not constitute a waiver of any of the Company’s rights.</li>
            </ol>
            
        </li>

        <li>
            <strong>INDEMNITY AND LIMITATION OF LIABILITY</strong>
            <ol>
                <li>You will, at your expense, defend, indemnify and hold harmless the Company, its affiliates, licensees, and its officers, directors, agents, and employees from any and all claims, losses, liabilities, damages, expenses, and costs (including attorneys’ fees and court costs) which result from a breach or alleged breach of these Terms by you, including but not limited to:
                    <ol type="i">
                        <li>your use or misuse of the Platform or Services;</li>
                        <li>any claims from any third-party as a result of or in connection with your use of the Platform or the Services.</li>
                    </ol>
                </li>
                <li>Voyease reserves the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify Voyease, including rights to settle, and you agree to cooperate with Voyease for such defense and settlement. Voyease will use reasonable efforts to notify you of any claim, action, or proceeding brought by a third party that is subject to the foregoing indemnification upon becoming aware of it. Customer may, at its own expense, engage separate counsel to advise Customer regarding a claim and to participate in the defense of the claim, subject to Voyease’s right to control the defense and settlement.</li>
                <li>IN NO EVENT WILL VOYEASE BE LIABLE FOR ANY INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES OR FOR ANY DAMAGES WHATSOEVER, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR OTHERWISE, EVEN IF IT HAS BEEN ADVISED OF THE POSSIBILITY THEREOF.</li>
                <li>IN ADDITION, AND WITHOUT LIMITING THE FOREGOING, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL VOYEASE’s AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR THE SERVICES RENDERED HEREUNDER, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE, PRODUCT LIABILITY, OR OTHER THEORY), WARRANTY, OR OTHERWISE, EXCEED THE AMOUNT OF INR 1000/-.</li>
            </ol>
            
        </li>

        <li>
            <strong> GOVERNING LAW, JURISDICTION AND DISPUTE RESOLUTION</strong>
            <ol type="i">
                <li>These Terms will be governed by and interpreted in all respects in accordance with the laws of the Republic of India.</li>
                <li>Subject to the provisions made in Clause XIII.3, the Parties hereby submit to the exclusive jurisdiction of the courts of Bangalore, India.</li>
                <li>All disputes arising out of or in relation to these Terms will be settled amicably by the parties. In the event no amicable settlement is arrived at within a period of fifteen (15) days from the date of first initiation of the dispute by one party to the other, the parties will resolve the dispute by means of arbitration pursuant to the Arbitration and Conciliation Act, 1996.</li>
                <li>The arbitration proceedings will be conducted by an arbitral tribunal comprising of 1 (one) arbitrator mutually appointed by You and the Company.</li>
                <li>The arbitration proceedings will be conducted in the English language only, and the seat for arbitration will be Varanasi, India.</li>
                <li>The award of the arbitral tribunal will be final and binding.</li>
            </ol>
        </li>

        <li>
            <strong>ASSIGNMENT</strong>
            <ol type="i">
                <li>You may not assign your rights under these Terms without the prior written approval of the Company.</li>
            </ol>
        </li>
        <li>
            <strong>SEVERABILITY</strong>
            <ol type="i">
                <li>If any provision or any part of a provision of these Terms is held to be invalid, unenforceable or prohibited by applicable laws of the Republic of India, such provision or part of provision will be severed from these Terms and will be considered divisible as to such provision or part thereof and such provision or part thereof will be inoperative and will not be part of the consideration moving between you and the Company hereto and the remainder of these Terms will be valid and binding and of like effect as though such provision was not included herein.</li>
            </ol>
        </li>
        <li>
            <strong>CHANGES TO THESE TERMS</strong>
            <ol type="i">
                <li>Voyease may change these Terms from time to time. If Voyease makes any changes to these Terms that it deems to be material, Voyease will make a reasonable effort to inform you of such changes, but it is your responsibility to review the Terms posted to the Platform from time to time to see if it has been changed. The updated version of these Terms will supersede the current version and such updated version will be immediately effective upon being posted on the Platform. The continued use of the Platform following the notification of modification of the Terms or after being updated on the Platform will be construed to mean the acceptance of the said modified Terms.</li>
            </ol>
        </li>
        <li>
            <strong>NOTICES</strong>
            <ol type="i">
                <li>The Company may give notice by means of a general notice on the Platform, or by electronic mail to your email address on record in the Company’s account, or by written communication sent by regular mail to your address on record in Company’s account.</li>
            </ol>
        </li>
        <li>
            <strong>CUSTOMER CARE AND GRIEVANCE REDRESSAL</strong>
            <ol type="i">
                <li>Any opinions, issues, or suggestion regarding the Platform and/or Services can be provided/resolved by reaching out to the customer care number or email mentioned below:
                    <ol>
                        <li>Customer Care details: support@Voyease.in</li>
                        <li>Alternatively, you can contact Customer Care using the call functionality on the Voyease App, and a customer service associate will get back to you.</li>
                        <li>Please note, concerns pertaining to a specific Service Request or a Tour Guide or Tour Buddy may be reported not beyond 24 hours from when the Services were availed. In case the issue or grievance is criminal in nature, the complaint may be filed within 72 hours of the event/availing the Service.</li>
                        <li>Any complaint, dispute or grievance in relation to the Services should be addressed to Voyease as given below. Such complaint, dispute or grievance will be handled as per applicable laws.
                            <ol type="i">
                                <li>Grievance Officer: Pankaj Sharma</li>
                                <li>e-mail: pankaj@Voyease.in</li>
                                <li>Address: CK-13/94, Bajrang Katra, Pashupateshwar, Chowk, Varanasi-221001, India</li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
    
    </ol>

    <strong>B. <u>SPECIAL TERMS</u></strong><br>
    <p>In addition to the General Terms, along with any other agreements or documents executed /
        accepted by you, the following additional special terms (“Special Terms”) apply to your use of certain
        specific Services.
        </p>
    
        <ol>
            <li>
                <strong>RELIGIOUS SERVICES</strong>
                <ol type="i">
                    <li><strong>Provision of Contact Information:</strong> The Company’s role is limited to providing you with the contact information of Panditjis available in your selected location upon receipt of the payment. The Company does not participate in any service agreement between you and the Panditji.</li>
                    <li><strong>No Guarantee of Services:</strong> The Company does not guarantee the availability, quality, or conduct of any services offered by the Panditji. All arrangements and negotiations for the performance of religious ceremonies or rituals are between you and the Panditji.</li>
                    <li><strong>No Liability for Services Rendered:</strong> The Company will not be held liable for any issues or disputes arising from the services provided by the Panditji, including but not limited to service quality, fees charged, or any other terms agreed upon between you and the Panditji.</li>
                    <li><strong>Non-Refundable Fees:</strong> The fee collected by the Company for providing the contact details of the Panditji is non-refundable, regardless of whether the service is utilized or not.</li>
                    <li><strong>Independent Contractors:</strong> Panditjis are independent contractors and not employees, agents, or representatives of the Company. The Company does not endorse, recommend, or guarantee any specific Panditji or their services.</li>
                </ol>
            </li>
            <li>
                <strong>OTHER SERVICES</strong>
                <ol type="i">
                    <li><strong>Platform for Displaying Local Shops:</strong> VoyEase provides a platform to display information about various local shops (“Local Shops”) for the user’s convenience. This information is offered by third-party shops (“Local Shop Vendors”).</li>
                    <li><strong>Limited Role of VoyEase:</strong> The Company’s role is limited to displaying information about the Local Shops. VoyEase does not engage in any transactions, sales, or services offered by the Local Shop Vendors.</li>
                    <li><strong>No Endorsement:</strong> The Company does not endorse, recommend, or guarantee the quality or authenticity of any products or services offered by the Local Shops. The relationship between the user and the Local Shop Vendors is strictly between those parties.</li>
                    <li><strong>No Liability:</strong> VoyEase will not be held liable for any disputes, damages, or losses that may arise from the user’s interaction with the Local Shop Vendors. The user assumes full responsibility for any transactions or engagements with the Local Shops.</li>
                </ol>
            </li>
        </ol>
        
      
</div>

{% endblock %}