{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <h1>TERMS AND CONDITIONS FOR GUIDES</h1>
    <br>
    <p>THIS DOCUMENT IS AN ELECTRONIC RECORD IN TERMS OF INFORMATION TECHNOLOGY ACT, 2000 AND RULES THEREUNDER AS APPLICABLE AND THE PROVISIONS PERTAINING TO ELECTRONIC RECORDS IN VARIOUS STATUTES AS AMENDED BY THE INFORMATION TECHNOLOGY ACT, 2000.</p>
    
    <p><strong>Voyease Solutions</strong> (“Voyease” / “<strong>Company</strong>” / “us”, “we” or “our”) provides technology-based services and acts as an intermediary for facilitating: (i) the booking of tour guides in real time or in advance to offer guide services (“<strong>Guide Services</strong>”) offered by third party <strong>Tour Guides</strong> (“Tour Guides”). (Guide Services are collectively referred to as “<strong>Services</strong>”) and other support services (such as associated payment collection, third party cab booking) as offered by Voyease from time to time by means of the Company’s website and the mobile application “Voyease” (collectively, “<strong>Platform</strong>”).</p>

    <p>The <strong>Services</strong> are provided / offered by third party <strong>Tour Guides</strong> who wish to offer such <strong>Services</strong> through the <strong>Platform</strong> (“<strong>Tour Guide(s)</strong>” / “<strong>you</strong>”).</p>

    <p>On the basis of the representations and warranties provided by the <strong>Tour Guide</strong>, the <strong>Company</strong> has agreed to list them on the <strong>Platform</strong> and to enable the <strong>Tour Guides</strong> to provide the <strong>Services</strong> through the <strong>Platform</strong> in accordance with the terms and conditions as hereinafter provided and any other policy or agreement or document made applicable / executed by you for the purpose of the provision of <strong>Services</strong> (collectively, “<strong>T&Cs</strong>”).</p>

    <p>These <strong>T&Cs</strong> will govern the relationship between you and the <strong>Company</strong> in the course of provision of the <strong>Services</strong>. By signing up or registering on the <strong>Platform</strong> and offering to provide one or more of the <strong>Services</strong>, you acknowledge that you have read and understood these <strong>T&Cs</strong> and agree to be bound by these <strong>T&Cs</strong>, without any limitation or qualification. If you do not agree with these <strong>T&Cs</strong>, please do not sign-up or register on the <strong>Platform</strong> or offer any <strong>Services</strong>.</p>

    <p>Use of and access to the <strong>Platform</strong> is offered to you upon the unconditional acceptance of all the terms, conditions and notices contained in these <strong>T&Cs</strong> and <strong>Privacy Policy</strong> (which is incorporated herein by reference), along with any amendments made by the <strong>Company</strong> at its sole discretion and posted on the <strong>Platform</strong> from time to time.</p>

    <p>These <strong>T&Cs</strong> expressly supersede prior agreements or arrangements with you.</p>


    <ol type="I">
        <li>
            <strong>GENERAL COVENANTS</strong>
            <p>In relation to your access of the Platform to provide the Services, you covenant and agree to the following:</p>
            <ol type="1">
                <li>For the purposes of registration/creation of an account on the Platform and providing the Services, you confirm that you are 18 years of age.</li>
                <li>The Tour Guide, when on duty, shall always wear the laminated guide license issued by the Ministry of Tourism and also wear the name tag while accompanying tourists.</li>
                <li>The Tour Guide would not solicit tips from tourists.</li>
                <li>The Tour Guide would dress in a presentable manner to uphold the dignity and honor of the profession to which he/she belongs and of the country.</li>
                <li>The Tour Guide would maintain good conduct and courteous behavior towards tourists or other officials with whom he/she comes in contact during the course of his/her assignment.</li>
                <li>The Tour Guide would abide by the existing rules and any other rules and conditions that may be framed from time to time by the Ministry of Tourism and the Archaeological Survey of India.</li>
                <li>The Tour Guide shall abide by the provisions of Ancient Monuments and Archaeological Sites & Remains Act (AM & ASR) Act 1958 and Rules 1959.</li>
                <li>The Tour Guide shall abide by the instructions given by the site in charge or field staff while taking a round in the ASI Monument premises.</li>
                <li>The Tour Guide shall ensure entry in the register kept at the ASI monument while taking visitors to that particular monument.</li>
                <li>You are not restricted by any legal, regulatory, judicial, quasi-judicial, or other authority, to access the Platform or provide the Services, including to enter into transactions contemplated using the Services.</li>
                <li>You will provide the Services solely as permitted and in accordance with these T&Cs and in accordance with applicable laws.</li>
                <li>By using the Platform and offering the Services, you authorize Voyease, whether directly or indirectly through third parties, to collect information about you or make any inquiries necessary to validate your identity including conduct police verification and background checks, in accordance with our Privacy Policy. Please read the Privacy Policy to understand how we collect, process, and share your information, including personal information and sensitive personal data or information (collectively, “Information”).</li>
                <li>When you provide any Information to Voyease, you will provide only true, accurate, current, and complete Information. You understand and acknowledge that the responsibility to provide correct Information, including the contact information, bank account details, etc., as required in connection with the Services, lies solely with you. You must take all caution to ensure that there are no mistakes and errors in the Information you provide. We will not be responsible to verify the accuracy of the Information provided by you.</li>
                <li>These T&Cs impose valid and legally binding obligations on you and are enforceable against you.</li>
            </ol>
        </li><br>
        <li>
            <strong>REGISTRATION ON AND OPERATION OF THE PLATFORM</strong>
            <ol type="1">
                <li>To offer the Services on the Platform, you should be eligible as per the onboarding criteria and provide such documents as requested by Voyease as per applicable law and Voyease’s internal policies and ensure continued compliance with the same. Particularly, you represent, warrant, and covenant to Voyease that:</li>
                <ol type="1">
                    <li>You have at least 2 years of Tour Guide experience;</li>
                    <li>No proceeding is pending against you regarding and neither have been convicted of (a) any cognizable offence under the Bharatiya Nagarik Suraksha Samhita, 2024, including fraud, sexual offences, use of a motor vehicle to commit cognizable offence, or of any crime involving property damage, theft, acts of violence, or acts of terror, in the past 3 years;</li>
                </ol>
                <li>You must register on the Platform and create an account on the Platform (“Your Account”) by providing accurate Information as sought during the registration process.</li>
                <li>Further, we may ask you for Information or documents that will allow us, whether directly or indirectly through third parties, to reasonably identify you, requiring you to take steps to confirm your right over your email address or financial instruments, or verifying your information against third party databases or through other sources. We reserve the right to terminate, suspend, or limit access to the Platform in the event we are unable to obtain or verify this Information.</li>
                <li>You are solely responsible for maintaining the confidentiality of your credentials (username, password, etc.) provided upon registration by you, and the Company is not liable for any loss you may incur as a result of someone else using Your Account, either with or without your knowledge.</li>
                <li>You agree to accept responsibility for all activities that occur in or from Your Account and agree to establish reasonable security procedures and controls to limit access to the password or other identifying information of Your Account to unauthorized individuals, which includes choosing passwords and other credentials in a manner that will protect the security of your Information. Your credentials include your username and password to Your Account and to any third-party account you have used to log in to Your Account.</li>
                <li>You agree to inform us immediately if you have any reason to believe that your login credentials have become known to anyone else, or if the password is being or is likely to be used in any unauthorized manner.</li>
                <li>Voyease will not be liable for any breach of security or unauthorized use of Your Account.</li>
                <li>The Company will take the booking request of the customer made on the Platform (“Service Request”) and forward it to you through the Platform, or in such other manner based on Voyease’s sole discretion, and the Tour Guide is prohibited from accepting an order through street hailing or other means while using the Platform.</li>
                <li>The Company reserves the right to discontinue or introduce any other modes of Service Requests and/or for providing Services.</li>
                <li>The Company may monitor, and record calls made by you to the customers, for the purpose of training and improving customer care services, including complaint handling, and you provide your consent for the same.</li>
                <li>The Company will not be liable if you do not download the correct mobile application including correct and compatible version of the Voyease mobile application.</li>
                <li>You agree that Voyease (either directly or indirectly through its affiliates or third parties) may communicate with you in connection with the Platform or the Services, either electronically (for example, push notifications), or through phone calls, WhatsApp messenger application, email, or in writing through other modes.</li>
            </ol>
        </li><br>

        <li>
            <strong>YOUR CONDUCT</strong>
            <ol type="1">
                <li>The Tour Guide will not reject Service Request(s) from a customer, except when deemed absolutely necessary and/or under exceptional circumstances, as deemed acceptable by Voyease at its sole discretion. In case of repeated or consistent denial of Service Requests, Voyease reserves the right to take appropriate action including suspension or permanent deactivation of Your Account and termination of these T&Cs.</li>
                <li>The Tour Guide will refrain from doing anything which the Company reasonably believes to be disreputable or capable of damaging the Company’s reputation and will comply with all applicable laws of the Republic of India.</li>
                <li>In relation to the Platform, the Tour Guide agrees to:</li>
                <ol type="1">
                    <li>Not authorize others to use Your Account on the Platform or your License;</li>
                    <li>Not assign or otherwise transfer Your Account to any other person or legal entity;</li>
                    <li>Not use the Platform for unlawful purposes, including but not limited to sending or storing any unlawful material or for fraudulent purposes;</li>
                    <li>Not use the Platform to cause nuisance, annoyance, or inconvenience to customer, Voyease, or any other person;</li>
                    <li>Not consume alcohol or drugs or be under the influence of drugs or other illegal substances, prior to or during the provision of Services. Voyease has a zero-tolerance policy in respect of use of drugs, alcohol, intoxicants, or other illegal substances, by any Tour Guide, and the customers can report any such behavior to Voyease. Strict action will be taken by Voyease including but not limited to suspension of your Services / Your Account while under investigation and termination;</li>
                    <li>Not impair the proper operation of the network/ Platform and will not use any device, software, routine, file, or other tool or technology, which includes any viruses, trojan horses, worms, time bombs or cancelbots, intended to damage, interfere with or affect functionality or operation of the Platform, to surreptitiously intercept or expropriate any system, data, or information in connection with the content hosted/ available on the Platform, or to affect the operation of any other websites or the internet;</li>
                    <li>Not take any action that imposes an unreasonable or disproportionately large load on the infrastructure associated with the Platform, including but not limited to denial-of-service attacks, “spam” or any other such unsolicited overload technique;</li>
                    <li>Not try to harm the Platform in any way whatsoever;</li>
                    <li>Not copy, or distribute any content on the Platform without written permission from the Company; and</li>
                    <li>Not use the Platform with an incompatible or unauthorized device.</li>
                </ol>
                <li>In addition to the foregoing, you will not upload, display, share, host, publish or transmit any information that:</li>
                <ol type="a">
                    <li>Either belongs to another person or to which you do not have any right whatsoever;</li>
                    <li>Is harmful, offensive, harassing, obscene, pornographic, invasive of another’s privacy, hateful, racially, or ethnically objectionable, disparaging, relating to or encouraging money laundering or gambling, or an online game that causes user harm, or otherwise unlawful in any manner whatsoever, or promoting enmity between different groups on the grounds of religion or caste with the intent to incite violence;</li>
                    <li>Infringes any patent, trademark, copyright, or any other proprietary rights;</li>
                    <li>Harms minors in any way or is harmful to child;</li>
                    <li>Includes any commercial material or content (including solicitation of funds, advertising, or marketing of any good or services);</li>
                    <li>Deceives or misleads the addressee about the origin of such messages, or communicates any misinformation or information which is patently false and untrue or misleading in nature or in respect of any business of the Central Government, is identified as fake or false or misleading by such fact check unit specified by the Government;</li>
                    <li>Impersonates another person;</li>
                    <li>Contains software viruses or any other computer code, files or programs designed to interrupt, destroy, or limit the functionality of any computer resource;</li>
                    <li>Threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting any other nation;</li>
                    <li>Is in the nature of an online game that is not verified as a permissible online game;</li>
                    <li>Is in the nature of advertisement or surrogate advertisement or promotion of an online game that is not a permissible online game, or of any online gaming intermediary offering such an online game; or</li>
                    <li>Violates any law for the time being in force.</li>
                </ol>
                <li>The Company reserves the right to immediately terminate the use of the Platform by the Tour Guide if he does not comply with any of the above rules in Clauses III.3 and III.4 above.</li>
                <li>The Tour Guide will not be permitted to operate on the Platform for more than 12 hours on a calendar day and should take a mandatory break of 10 hours before subsequent login into the Platform and offering the Services.</li>
                <li>The Tour Guide consents to provide identity documents for police verification and background checks by the Company, directly or indirectly through a third party appointed by the Company.</li>
                <li>The Tour Guide will have to mandatorily undergo an induction training program of 30 hours before onboarding with the Voyease Platform and agrees to undergo any other training programs including refresher training program as required by applicable law or as deemed necessary by Voyease.</li>
                <li>Voyease / its personnel may undertake spot checks of the License to verify and ensure your compliance with these T&Cs and applicable laws.</li>
            </ol>
        </li><br>
        <li>
            <strong>PAYMENT TERMS</strong>
            <ol type="1">
                <li>The Company has the discretion to charge any such fees from the Tour Guide as updated on the Platform from time to time and will be subject to applicable taxes.</li>
                <li>The Company charges a convenience fee from the customers for facilitating the Services through the Platform.</li>
                <li>The Tour Guide authorizes the Company to collect the service/travel fee (“Fare”) from the customers on behalf of the Tour Guides.</li>
                <li>If the Fare is collected in cash by the Tour Guide from the customer, the convenience fee component of the Fare that is due to Voyease by the customers, for providing the Platform and associated services to the customers, will be adjusted against amounts due to be settled with the Tour Guides by Voyease.</li>
            </ol>
        </li><br>

        <li><strong>REPRESENTATIONS, WARRANTIES AND COVENANTS</strong>
            <ol type="1">
                <li>The Tour Guides and the Company represent the following:
                    <ol type="1">
                        <li>They have all requisite power and authority to deliver and perform the obligations imposed herein;</li>
                        <li>The execution and performance of the obligations do not and will not violate any provision of any existing agreement, law, rule, regulation, any order, or judicial pronouncement which is applicable to each party; and</li>
                        <li>They have not been convicted by any court in India or any other country of any crimes including but not limited to involving moral turpitude.</li>
                    </ol>
                </li>
                <li>The Tour Guides hereby represent, warrant, and covenant the following:
                    <ol type="1">
                        <li>They have the requisite authority or assignment to become a tour guide and there are no restrictions with respect to the use of the Guide License that will hinder the Tour Guide from the performance of the Services or using the Platform;</li>
                        <li>They have all rights, licenses, and permits as may be required under applicable laws to perform the Service in accordance with these T&Cs;</li>
                        <li>At the time of onboarding with the Platform, they have not been convicted within the past 3 years, for the offence of driving under the influence of alcohol or any cognizable offence under the Bhartiya Nagarik Suraksha Sanhita, 2024 or the Bhartiya Nyaya Sanhita, 2024 (as may be applicable) including fraud, sexual offences, use of a motor vehicle to commit a cognizable offence, a crime involving property damage or theft, acts of violence, or acts of terror;</li>
                        <li>They hold and will maintain updated/renewed licenses, insurance and permits necessary;</li>
                        <li>They will provide the Services in a courteous and professional manner as reasonably expected by a service provider providing the Services;</li>
                        <li>They will at all times during which they are undertaking the Services, maintain dress, appearance, and hygiene codes reasonably expected from a service provider;</li>
                        <li>They will perform their obligations with promptness and use reasonable care and skill and in accordance with standards of diligence, care, skill, quality, and integrity to be reasonably expected of an experienced and reputable provider of Services;</li>
                        <li>They will provide Services in accordance with all the specifications that may be prescribed and formulated by the Company from time to time;</li>
                        <li>They will follow all the standard operating procedures (SOPs) and policies that may be prescribed and formulated by the Company from time to time;</li>
                        <li>They will not carry any weapons, firearms, ammunition, explosive devices, and dangerous substances during the performance of the Services;</li>
                        <li>They will not seek any extra monetary compensation from the customer for the completion of Services by way of tips or otherwise;</li>
                        <li>They will not commit any fraud while providing the Services or otherwise commit any act or omission, to gain any undue advantage which may include, but not be limited to:
                            <ol type="1">
                                <li>Intentionally falsify information;</li>
                                <li>Accept Service Requests without the intention to complete or provide the Services;</li>
                                <li>Provoke customers to cancel for fraudulent purposes;</li>
                                <li>Claim fraudulent fees or charges;</li>
                                <li>Intentionally request, accept, or complete fraudulent or falsified Service Requests;</li>
                                <li>Deliberately increase the time or cost of a journey;</li>
                                <li>Actions intended to disrupt or manipulate the normal functioning of the Company’s Platform, including manipulating the settings on a phone to prevent the proper functioning of the Platform and the GPS system;</li>
                                <li>Falsify documents, records, or other data for fraudulent purposes;</li>
                                <li>Creating improper duplicate accounts;</li>
                                <li>Falsify documents, records, or other data for fraudulent purposes;</li>
                                <li>Any other fraudulent, negligent, or unlawful activity in contravention of the intent of these T&Cs, permitted scope of Services envisaged under these T&Cs, or applicable laws;</li>
                            </ol>
                        </li>
                        <li>They will ensure that the Vehicle has a valid fitness certificate issued, insurance certificate, pollution under control certificate, and other permits/certificates/licenses and will operate under valid and subsisting permit(s) granted under relevant provisions of applicable law;</li>
                        <li>They will adhere to applicable laws including in relation to road safety, abide by traffic signals, speed limits, and such other norms or rules applicable for plying the Vehicle on road;</li>
                        <li>They will perform each pick-up and delivery in the most efficient manner possible and will make best efforts to adhere to the timelines prescribed;</li>
                        <li>They will ensure that the safety of packages is not compromised at the time of delivery;</li>
                        <li>Their total earnings for any given financial year do not exceed INR 20,00,000 (Rupees Twenty Lakhs) and that they are an unregistered GST service provider; and</li>
                        <li>They will promptly inform the Company in case their total earnings exceed or are expected to exceed INR 20,00,000 (Rupees Twenty Lakhs) in a financial year.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li><strong>RELATIONSHIP BETWEEN THE PARTIES</strong>
            <ol type="1">
                <li><strong>Independent Contractor:</strong> The Tour Guide will operate as, and have the status of, an independent contractor. The relationship between the Company and the Tour Guide is on a principal-to-principal basis. The Company and the Tour Guide are independent legal entities, and nothing in these T&Cs will be construed to create a partnership, joint venture, an association of persons, agency (disclosed or undisclosed), franchise, sales representative, or employment relationship between the Company and the Tour Guide. It is clarified that the Tour Guide will not have any right to conclude any contract for and/or on behalf of the Company or bind the Company in any manner.</li>
            </ol>
        </li>
        <li><strong>TOUR GUIDE INFORMATION</strong>
            <ol type="1">
                <li>Voyease may collect Tour Guide Information at the time of onboarding of the Tour Guides and from time to time, to establish the identity of the Tour Guides. Voyease reserves the right to store, process, access and use the Tour Guide Information for business purposes and needs, background check, verification, marketing, service, development, analytics, research, and any other purpose as Voyease may deem fit and in accordance with Voyease’s Privacy Policy and applicable law. The Tour Guide hereby expressly consents to such collection and use of Tour Guide Information.</li>
                <li>Subject to applicable laws, Voyease may provide to a third party, governmental agency, judicial body, any Tour Guide Information, or information relating to the Tour Guide, if there is a complaint, dispute, or conflict, including any accident involving a Tour Guide on one hand and end-consumer, or a third party on the other hand.</li>
                <li>Please read our Privacy Policy to understand how we deal/handle Information collected from you.</li>
                <li>“Tour Guide Information” shall mean and include any personal data or Information collected from the Tour Guide including know your customer documents with Tour Guide’s bank, copies of valid Tour Guide License issued by Government of state or Central Government, mobile number, bank account details, identity proof, self-clicked images (selfies), residence proof, location data and any other Information that Voyease may deem fit.</li>
            </ol>
        </li>

        <li>
            <strong>Confidentiality</strong>
            <ol type="1">
              <li>The Tour Guide will keep confidential all data including customer details, market information, all work products and documents related thereto, and the contents of the Platform and will not sell or otherwise make that information available to any third parties. Except as otherwise agreed, the data of customers will be the exclusive property of the Company, and the Tour Guide will not use the same for any purpose or distribute such data in any form or means except for the purpose of providing the Services and other than as permitted by the Company and will keep it confidential at all times.</li>
              <li>All non-public information relating to us or disclosed by us or our affiliates to you that is designated as confidential or that, given the nature of the information or the circumstances surrounding its disclosure, reasonably should be considered as confidential. Confidential information includes but is not limited to:
                <ol type="1">
                  <li>Contents / information relating to Services and Platform;</li>
                  <li>Information relating to our or our affiliates or business partners’ technology, software, customers, business plans, product plans and designs, promotional and marketing activities, finances, and other business affairs;</li>
                  <li>Third-party information including that of customers which we are obligated to keep confidential;</li>
                  <li>The nature, content, and existence of any discussions or negotiations between you and us or our affiliates;</li>
                  <li>Any other information which should be reasonably kept confidential.</li>
                </ol>
              </li>
            </ol>
          </li>
        
          <li>
            <strong>Proprietary Rights</strong>
            <ol type="1">
              <li>The Company is the sole owner and lawful licensee of all the rights to Platform or any other digital media and its contents. The content means its design, layout, text, images, graphics, sounds, video, the website/ Platform, etc. or any other digital media content embodying trade secrets and Intellectual Property Rights protected under worldwide copyright and other laws. All titles, ownership, and Intellectual Property Rights in the Platform and its content (except third-party links) will remain with the Company, its affiliates, agents, authorized representatives, or licensors as the case may be.</li>
              <li>The term “Intellectual Property Rights” means all intellectual property rights or similar proprietary rights, including:
                <ol type="1">
                  <li>Patent rights and utility models,</li>
                  <li>Copyrights and database rights including moral rights,</li>
                  <li>Trademarks, trade names, domain names, and trade dress and the associated goodwill,</li>
                  <li>Trade secrets, and</li>
                  <li>Industrial design rights; and for each of the foregoing includes any registrations of, applications to register, and renewals and extensions of, any of the foregoing in any jurisdiction in the world.</li>
                </ol>All rights not otherwise claimed under this T&Cs or by the Company are hereby reserved. The information contained in this Platform is intended solely to provide general information for the personal use of the reader, who accepts full responsibility for its use.</li>
              <li>All related icons and logos are registered trademarks or service marks or word marks of the Company in various jurisdictions and are protected under applicable copyrights, trademarks, and other proprietary rights laws. The unauthorized copying, modification, use, or publication of these marks is strictly prohibited.</li>
              <li>Subject to your compliance with these T&Cs, the Company grants you a limited, non-exclusive, non-transferable license to download and install a copy of the Voyease mobile application on a single mobile device that you own or control and to run such copy of the Voyease mobile application solely for your own personal use and for providing the Services.</li>
              <li>Tour Guide data: As between Voyease and Tour Guide, all right, title, and interest in:
                <ol type="1">
                  <li>The Information,</li>
                  <li>Other information input into the Platform by Tour Guide or its authorized users (“Other Information”), and</li>
                  <li>All Intellectual Property Rights in each of the foregoing, belong to and are retained solely by the Tour Guide.</li>
                </ol>Information and Other Information are collectively referred to as “Your Information.” Tour Guide grants to Voyease an unlimited, non-exclusive, royalty-free, worldwide license to use Your Information and perform all acts with respect to Your Information, as may be necessary for Voyease to operate, maintain, and improve the Platform or provide the Services to customers, and a non-exclusive, perpetual, irrevocable, worldwide, royalty-free, fully paid-up license to use, reproduce, modify, and distribute the Other Information as a part of the Aggregated Statistics (defined below). Tour Guide is solely responsible for the accuracy, quality, veracity, integrity, legality, reliability, and appropriateness of Your Information. Voyease agrees to access and use Your Information solely for Tour Guide’s / customer’s benefit and as set forth in these T&Cs or the Privacy Policy.</li>
              <li>Aggregated statistics: Notwithstanding anything else in these T&Cs, Voyease may monitor Tour Guide’s use of the Platform and use data and information related to such use and Your Information in an aggregate and anonymous manner, including to compile statistical and performance information related to the provision and operation of the Platform and the Services (“Aggregated Statistics”). As between Voyease and Tour Guide, all right, title, and interest in the Aggregated Statistics and all Intellectual Property Rights therein, belong to and are retained solely by Voyease. Tour Guide acknowledges that Voyease will be compiling Aggregated Statistics based on Your Information and Information input by other customers / other Tour Guides into the Platform. Tour Guide agrees that Voyease may:
                <ol type="1">
                  <li>Make such Aggregated Statistics publicly available, and</li>
                  <li>Use such information to the extent and in the manner required by applicable law and for purposes of data gathering, analysis, service enhancement, and marketing, provided that such data and information does not identify Tour Guide.</li>
                </ol>
              </li>
              <li>The Tour Guide will not do the following:
                <ol type="1">
                    <li>License, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make available to any third party the Platform in any way;</li>
                    <li>Modify or make derivative works based upon the Platform;</li>
                    <li>Create internet “links” or “frame” or “mirror” any application on any other server or wireless or internet-based device;</li>
                    <li>Reverse engineer or access the Platform in order to:
                        <ol type="1">
                            <li>design or build a competitive product or service,</li>
                            <li>design or build a product using similar ideas, features, functions, or graphics of the Platform, or</li>
                            <li>copy any ideas, features, functions, or graphics of the Platform, or</li>
                            <li>launch an automated program or script, including, but not limited to, web spiders, web crawlers, web robots, web ants, web indexers, bots, viruses or worms, or any program which may make multiple server requests per second, or unduly burdens or hinders the operation and/or performance of the Platform.</li>
                    </li>
                </ol>
                </li>
            </ol>
          </li>

          <li><strong>INDEMNITY</strong>
            <ol type="-1">
                <li>The Tour Guide agrees to indemnify, defend, and hold harmless the Company, its affiliates, licensees, and its officers, directors, agents, and employees, from and against any claim, liability, obligation, loss, damage, deficiency, assessment, judgment, cost, or expense (including, without limitation to costs and expenses incurred in preparing and defending against or prosecuting any litigation, claim, action, suit proceeding, or demand) of any kind or character, arising out of or in any manner incidental, relating, or attributable to any inaccuracy, breach, or failure by the Tour Guide to perform its obligations under these T&Cs or the applicable laws in relation to the performance of the Services.</li>
                <li>Voyease reserves the right, at your expense, to assume the exclusive defence and control of any matter for which you are required to indemnify Voyease, including rights to settle, and you agree to cooperate with Voyease for such defence and settlement.</li>
                <li>Voyease will use reasonable efforts to notify you of any claim, action, or proceeding brought by a third party that is subject to the foregoing indemnification upon becoming aware of it.</li>
                <li>Tour Guide may, at its own expense, engage separate counsel to advise Tour Guide regarding a claim and to participate in the defence of the claim, subject to Voyease’s right to control the defence and settlement.</li>
            </ol>
        </li>
        
        <li><strong>DISCLAIMERS</strong>
            <ol type="1">
                <li>THE COMPANY MAKES NO REPRESENTATION, WARRANTY, OR GUARANTEE AS TO THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY, AVAILABILITY, ACCURACY OR COMPLETENESS OF THE SERVICES PROVIDED BY Voyease AND/OR THE PLATFORM. THE COMPANY DOES NOT REPRESENT OR WARRANT THAT (A) THE USE OF THE SERVICES PROVIDED BY Voyease AND/OR THE PLATFORM WILL BE SECURE, TIMELY, UNINTERRUPTED OR ERROR-FREE OR OPERATE IN COMBINATION WITH ANY OTHER HARDWARE, SOFTWARE, SYSTEM OR DATA, (B) THE PLATFORM / SERVICE WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS, (C) ANY STORED DATA WILL BE ACCURATE OR RELIABLE, (D) THE QUALITY OF ANY SERVICES, INFORMATION OBTAINED BY YOU THROUGH THE PLATFORM WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS, (E) ERRORS OR DEFECTS IN THE SERVICES PROVIDED BY Voyease AND/OR THE PLATFORM WILL BE CORRECTED, OR (F) THE PLATFORM OR THE SERVER(S) ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. THE PLATFORM IS PROVIDED TO YOU STRICTLY ON AN “AS IS” BASIS.</li>
                <li>All conditions, representations, and warranties, whether express, implied, statutory, or otherwise, including, without limitation, any implied warranty of merchantability, fitness for a particular purpose, or non-infringement of third-party rights, are hereby excluded and disclaimed to the highest and maximum extent. The Company makes no representation, warranty, or guarantee as to the reliability, safety, timeliness, quality, suitability, or availability of the Platform. You acknowledge and agree that the entire risk arising out of your use of the Platform remains solely and absolutely with you and you will have no recourse whatsoever to the Company.</li>
                <li>The Platform may be subject to limitations, delays, and other problems inherent in the use of the internet and electronic communications including the device used by you being faulty, not connected, out of range, switched off or not functioning. The Company is not responsible for any delays, service failures or interruptions, errors, damages, or losses resulting from such problems.</li>
                <li>Access to the Platform or the Services may be unavailable, delayed, limited, or slowed, from time to time, due to the inherent nature of the internet and among other things also due to:</li>
                <ol type="-1">
                    <li>Servers, networks, hardware failure (including your own computer or mobile), telecommunication lines and connections, and other electronic and mechanical equipment;</li>
                    <li>Software failure, including among other things, bugs, errors, viruses, configuration problems, incompatibility of systems, utilities or applications, the operation of firewalls or screening programs, unreadable codes, or irregularities within particular documents or other content;</li>
                    <li>Overload of system capacities;</li>
                    <li>Damage caused by severe weather, earthquakes, wars, insurrection, riots, civil commotion, act of God, accident, fire, water damage, explosion, mechanical breakdown, or natural disasters;</li>
                    <li>Interruption (whether partial or total) of power supplies or other utility service, strike, or other stoppage (whether partial or total) of labour;</li>
                    <li>Governmental or regulatory restrictions, exchange rulings, court or tribunal orders or other human intervention; or</li>
                    <li>Any other cause (whether similar or dissimilar to the above) beyond the control of Voyease.</li>
                </ol>
            </ol>
        </li>

        <li><strong>LIMITATION OF LIABILITY</strong>
            <ol type="-1">
                <li>The Company is not liable to the Tour Guide, for any condition, suitability, quality, merchantability, and fitness for any purposes in respect of the Platform or the Services provided through the Platform and is not liable for any civil, criminal, tortious, or any other liability, that may accrue as a consequence of the use and access of the Platform.</li>
                <li>To the extent permissible under applicable laws, the Company is not liable for any civil, criminal, tortious, or any other liability, that may accrue as a consequence of the breach by the Tour Guide: 
                    <ol type="a">
                        <li>of the applicable laws in respect of the use of the Platform or providing the Services;</li>
                        <li>of the terms of the applicable licenses and permits that are issued by the transport authorities;</li>
                        <li>of the terms of these T&Cs; or</li>
                        <li>of the duty of care the Tour Guide owes to the users of the Platform.</li>
                    </ol>
                </li>
                <li>The Company is not responsible for the behaviour, actions, or inactions of the Tour Guide or, quality of the service. Any contract for the provision of cab Vehicle is exclusively between the customer and the Third Party Cab service provider and the Company is not a party to the same.</li>
                <li>The Company does not represent or endorse the accuracy or reliability of any information or advertisement contained on, distributed through, or linked, downloaded or accessed from any of the services contained on the Platform, or the quality of any products, information or other materials displayed, or obtained by you as a result of any product, information or other materials displayed, or obtained by you as a result of an advertisement or any other information or offer in or in connection with the Services.</li>
                <li>IN NO EVENT WILL Voyease BE LIABLE FOR ANY INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES OR FOR ANY DAMAGES WHATSOEVER, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF IT HAS BEEN ADVISED OF THE POSSIBILITY THEREOF.</li>
                <li>IN ADDITION, AND WITHOUT LIMITING THE FOREGOING, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL Voyease’s AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE T&Cs OR THE SERVICES RENDERED HEREUNDER, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE, PRODUCT LIABILITY, OR OTHER THEORY), WARRANTY, OR OTHERWISE, EXCEED THE AMOUNT OF INR 1000/-.</li>
            </ol>
        </li>
        
        <li><strong>TERMINATION</strong>
            <ol type="-1">
                <li>Company is entitled to terminate these T&Cs at all times and with immediate effect, at its sole discretion, (by disabling the Tour Guide’s registration on the Platform and use of the Platform) for any one or more of the following reasons:</li>
                <li>Any violation or breach of any term of these T&Cs;</li>
                <li>If the Tour Guide, in the opinion of the Company, misuses the Platform;</li>
                <li>If the Tour Guide is non-compliant with the requirements under applicable laws;</li>
                <li>Failure to verify or authenticate Tour Guide Information;</li>
                <li>Any action or omission by the Tour Guide which can cause legal or contractual liability for Voyease including but not limited to fraudulent conduct, customer complaints, continuous unsatisfactory reviews by merchants or the users, misconduct, negligence, and all other actions specifically prohibited under applicable laws;</li>
                <li>Where, in their opinion, continuance of the Services of Tour Guide is detrimental to the business interest of Voyease due to the acts of the Tour Guides, such as the following:
                    <ol type="-1">
                        <li>Misbehaviour, rude behaviour with the staff of Voyease, customers or any other persons associated with the Voyease or any other persons;</li>
                        <li>Any acts involving criminal offence punishable under law, including physical assault, threatening any of the staff of Voyease, person associated with Voyease, customers or any other persons;</li>
                        <li>Concealment of fact/material information while entering into a contract with Voyease;</li>
                        <li>Poor or irregular at work, meetings, and failure to abide by the rules/terms of the T&Cs or other applicable policies / SOPs notified by Voyease;</li>
                        <li>Being drunk / under the influence of drugs or other illegal substances, while providing the Services and unruly/drunken behaviour. Voyease has a zero-tolerance policy in respect of use of drugs or alcohol by any Tour Guide;</li>
                        <li>Commission of fraud/ misappropriation/embezzlement for undue monetary gain, or any act which is against the interest of the Voyease;</li>
                        <li>Negligence in performing the duty, causing damage of moveable and immoveable assets of Voyease, its employees, customers, or any other persons;</li>
                        <li>Indulging in spreading content through digital media, social networking sites, or any other form, which could be detrimental to Voyease’s brand and its image/reputation;</li>
                        <li>Indulging in acts such as creating ruckus/ strike/ or any activity against Voyease, which could be detrimental to the Voyease’s brand and its image/reputation;</li>
                        <li>Indulging in unauthorized disclosure of Confidential Information of Voyease to external agency, person, or organization;</li>
                        <li>Misuse of assets provided by Voyease and welcome kits, which could be detrimental to the interest of Voyease’s brand and its image/reputation;</li>
                        <li>Failure to abide by any of the rules and guidelines given by Voyease as part of Service quality standards and principles;</li>
                        <li>Doing any act unbecoming of a Tour Guide; or</li>
                        <li>In case the background check, whether wholly or partially, is found negative at any point of time during the term of these T&Cs.</li>
                    </ol>
                </li>
                <li>The Company may terminate these T&Cs immediately on the above grounds and is not obliged to give notice of the termination of these T&Cs in advance. Voyease or Tour Guide may terminate these T&Cs by providing 7 days’ written notice to the other party.</li>
                <li>Voyease, in addition to its right to terminate these T&Cs, in its sole discretion reserves the right to legally prosecute the Tour Guide immediately, if there is reason to believe that the Tour Guide has indulged in any fraudulent activity or contravened the T&Cs of the Platform or violated any applicable laws and Voyease will not be responsible for any consequences to the Tour Guide arising from the same.</li>
                <li>Upon termination:
                    <ol type="-1">
                        <li>Tour Guide will stop accessing the Platform and offering the Services;</li>
                        <li>Voyease will settle all outstanding dues accrued to the Tour Guide subject to deductions/set off of any amount owed by the Tour Guide to Voyease;</li>
                        <li>Tour Guide will return all property and materials including confidential information belonging to Voyease; and</li>
                        <li>Tour Guide will cease holding out as a service provider integrated with or connected with Voyease in any manner.</li>
                    </ol>
                </li>
            </ol>
        </li>
        
        <li><strong>GOVERNING LAW, JURISDICTION AND DISPUTE RESOLUTION</strong>
            <ol type="-1">
                <li>These T&Cs will be governed by and interpreted in all respects in accordance with the laws of the Republic of India.</li>
                <li>Subject to the provisions made in Clause XIV.3, the parties hereby submit to the exclusive jurisdiction of the courts of Bangalore, India.</li>
                <li>All disputes arising out of or in relation to these T&Cs will be settled amicably by the parties. In the event, no amicable settlement is arrived at within a period of 15 (fifteen) days from the date of first initiation of the dispute by one party to the other, the parties will resolve the dispute by means of arbitration pursuant to the Arbitration and Conciliation Act, 1996.</li>
                <li>The arbitration proceedings will be conducted by an arbitral tribunal comprising of 1 arbitrator mutually appointed by you and the Company.</li>
                <li>The arbitration proceedings will be conducted in English language only and the seat for arbitration will be Varanasi, India.</li>
                <li>The award of the arbitral tribunal will be final and binding.</li>
            </ol>
        </li>
        
        <li><strong>ASSIGNMENT</strong>
            <ol type="-1">
                <li>The Tour Guide may not assign its rights or obligations under these T&Cs without prior written approval of the Company.</li>
                <li>The Company may assign any of its rights and obligations to its affiliates or third parties without prior consent or notice.</li>
            </ol>
        </li>
        
        <li><strong>AMENDMENT</strong>
            <ol type="-1">
                <li>These T&Cs may be amended from time to time and as and when required, at the sole discretion of the Company.</li>
                <li>If Voyease makes any changes to these T&Cs that it deems to be material, Voyease will make a reasonable effort to inform you of such changes, but it is your responsibility to review the T&Cs posted to the Platform from time to time to see if it has been changed.</li>
                <li>The updated version of these T&Cs will supersede the current version and such updated version will be immediately effective upon being posted on the Platform.</li>
                <li>The continued use of the Platform following the notification of modification of the T&Cs or after being updated on the Platform will be construed to mean the acceptance of the said modified T&Cs.</li>
            </ol>
        </li>
        
        <li><strong>SEVERABILITY</strong>
            <ol type="-1">
                <li>If any provision or any part of a provision of these T&Cs is invalid, unenforceable or prohibited by applicable laws of the Republic of India, such provision or part of provision will be severed from these T&Cs and will be considered divisible as to such provision or part thereof.</li>
                <li>Such provision or part thereof will be inoperative and will not be part of the consideration moving between you and the Company hereto and the remainder of these T&Cs will be valid and binding and of like effect as though such provision was not included herein.</li>
            </ol>
        </li>
        <li><strong>NOTICES</strong>
            <ol type="-1">
                <li>The Company may give notice by means of a general notice on the Platform, or by electronic mail to your email address on record in the Company’s account information, or by written communication sent by regular mail to the Tour Guide’s address on record in the Company’s account information.</li>
                <li>Tour Guide needs to send any notice at email id: TourGuidecare@Voyease.bike.</li>
            </ol>
        </li>

        <li><strong>CUSTOMER CARE AND GRIEVANCE REDRESSAL</strong>
            <ol type="-1">
                <li>Any opinions, issues or suggestions regarding the Platform can be provided/resolved by reaching out to the customer care number or email mentioned below:</li>
                <li>Customer Care details: <a href="mailto:pankaj@voyease.in">pankaj@voyease.in</a></li>
                <li>Any complaint, dispute, or grievance in relation to the Services or the Platform should be addressed to Voyease as given below. Such complaint, dispute or grievance will be handled as per applicable laws.</li>
                <li><strong>Grievance Officer:</strong> Pankaj Sharma</li>
                <li><strong>e-mail:</strong> <a href="mailto:pankaj@voyease.in">pankaj@voyease.in</a></li>
                <li><strong>Address:</strong> CK-13/94, Bajrang Katra, Pashupateshwar, Chowk Varanasi - 221001, Uttar Pradesh, India</li>
            </ol>
        </li>
        
        
    </ol>
    
    
</div>

{% endblock %}